[package]
name = "kirin"
version = "0.1.0"
edition = "2024"

[dependencies]
kirin-ir = { version = "0.1.0", path = "crates/kirin-ir" }
kirin-prettyless = { version = "0.1.0", path = "crates/kirin-prettyless" }
kirin-chumsky = { version = "0.1.0", path = "crates/kirin-chumsky", features = ["derive"] }
serde = { version = "1.0.228", optional = true }

[workspace]
members = [
    "crates/kirin-cf",
    "crates/kirin-constant",
    "crates/kirin-derive",
    "crates/kirin-ir",
    "crates/kirin-prettyless",
    "crates/kirin-scf",
    "crates/kirin-test-utils",
    "crates/kirin-lexer",
    "crates/kirin-derive-core",
    "crates/kirin-derive-dialect",
    "crates/kirin-chumsky",
    "crates/kirin-chumsky-format",
    "crates/kirin-chumsky-derive",
]

[features]
serde = ["dep:serde"]

# [[example]]
# name = "simple"
# path = "example/simple.rs"
