[package]
name = "kirin"
version = "0.1.0"
edition = "2024"

[dependencies]
salsa = "0.24.0"
serde = { version = "1.0.228", optional = true }

[workspace]
members = []

[features]
serde = ["dep:serde"]

[[example]]
name = "simple"
path = "example/simple.rs"
