[package]
name = "xtask"
version = "0.1.0"
edition = "2024"
publish = false

[dependencies]
clap = { version = "4.5", features = ["derive"] }
serde_yaml = "0.9"
tera = "1.20"
time = { version = "0.3", features = ["formatting"] }
